
<table class="infotable">
		<tr>
			<td>
				<strong>#</strong>
			</td>
			<td>
				<strong>Key</strong>
			</td>
			<td>
				<strong>URL</strong>
			</td>
			<td>
				<strong>Clicks</strong>
			</td>
		</tr>
	<% @most_popular_urls.each_with_index do |url, index| %>
		<tr>
			<td>
				<span class"tabletext"><%= index + 1%></span>
			</td>
			<td>
				<span><%= link_to url.key, "#{root_url}#{url.key}", :class => "tabletext", :target => "_blank" %></span>
			</td>
			<td>
				<span><%= link_to url.long_url, "#{root_url}#{url.key}", :class => "tabletext", :target => "_blank"   %></span>
			</td>
			<td style="text-align:right">
				<span class"tabletext"><%= url.clicks_count %></span>
			</td>
		</tr>
	<% end %>
</table>