<div id="container">
	<div class="row" >
		<div class="five offset-by-six srl-box" >
				<%= render 'title' %>
					<%= form_tag("/urls", :method => "post") do %>
					  <%= text_field_tag :long_url, nil %>
					  <%= submit_tag "Shorten", :class => "radius button", :style => "float: right"%>
					<% end %>
		</div>
	</div>
</div>