<div class="row" >
	<div class="six columns">
		<%= render "tabs" %>
	</div>
	<div class="five columns push-seven srl-box" >
		<%= render "title" %>
		<br>
		<div class="panel radius">
			<%= link_to full_url(@url), full_url(@url), :class => "result inputbox", :target => "_blank"  %>
		</div>
		<%= link_to "Another!", root_path, :class => "srl-button radius button"  %>
	</div>
</div>