<div>
	<div class="row" >
		<div class="seven columns" style="height:1000px">
			<%= render "table" %>
		</div>
		<div class="five columns push-six srl-box" >

			<%= render "title" %>
			<br>
			<div class="panel radius">
				<%= link_to @link, @link, :class => "result inputbox" %>
			</div>
			<%= link_to "Another!", root_path, :class => "srl-button radius button"  %>
		</div>
	</div>
</div>