<div class="push-eight message-bubble">
	<blockquote class="rectangle-speech-border">
		<% flash[:error].each do |error| %>
			<p class="error-flash"><%= error %></p>
		<% end %>
	</blockquote>
</div>
