// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.srl-head{
	display: inline;
	text-shadow: 2px 2px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.srl-box{
	margin-top: 300px ;
	position: fixed;
}

#container{

}

.result{
	text-shadow: 2px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-size: 20pt;
	opacity: 1.0;
}

.tabletext{
	color: #505050;
	text-shadow: 1px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
}

.infotable{
	margin: 50px 0 50px 0;
}

table {
	 background: rgba(255,255,255, .3);
}

table tbody tr.even, table tbody tr.alt { 
	background: rgba(255,255,255, .2); 
	}

table tbody tr:nth-child(even) { 
	background: rgba(255,255,255, .2); 
	}
	
html {
	background-image: url(bg.jpg) ;
	background-repeat: no-repeat;
	background-attachment: fixed
}


body {
	background:transparent;
}
/*.panel{

}
*/
/*.inputbox{
	height: 25pt;
	padding: 0 0 -5pt 0;
}*/