// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.srl-head{
	display: inline;
	text-shadow: 2px 2px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.srl-box{
	margin-top: 250px ;
	position: fixed;
}

.srl-button{
	float: right
}


.result{
	text-shadow: 2px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-size: 18pt;
	opacity: 1.0;
}

.tabletext{
	color: #505050;
	text-shadow: 1px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
}

.infotable{
	margin: 50px 0 50px 0;
	width:404px;
}


table {
	 background: rgba(255,255,255, .3);
}

table tbody tr.even, table tbody tr.alt { 
	background: rgba(255,255,255, .2); 
	}

table tbody tr:nth-child(even) { 
	background: rgba(255,255,255, .2); 
	}


	
html {
	background-image: url(bg.jpg) ;
	background-attachment: fixed
}


body {
	background:transparent;
}



/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */

.rectangle-speech-border {
	position:relative; 
	padding:10px 15px; 
	margin:1em 0 3em;
	border:10px solid #2ba6cb; 
	text-align:center; 
	color:#2ba6cb;
	background:#fff; 
	/* css3 */
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}

/* creates larger curve */
.rectangle-speech-border:before {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:50px; 
	width:50px; 
	height:30px;
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#2ba6cb; 
	background:transparent;
	/* css3 */
	-webkit-border-bottom-right-radius:80px 50px;
	-moz-border-radius-bottomright:80px 50px;
	border-bottom-right-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block; 
}

/* creates smaller curve */
.rectangle-speech-border:after {
	content:""; 
	position:absolute; 
	z-index:10; 
	bottom:-40px; 
	left:50px; 
	width:20px; 
	height:30px; 
	border-style:solid; 
	border-width:0 10px 10px 0; 
	border-color:#2ba6cb; 
	background:transparent;
	/* css3 */
	-webkit-border-bottom-right-radius:40px 50px; 
	-moz-border-radius-bottomright:40px 50px; 
	border-bottom-right-radius:40px 50px; 
    /* reduce the damage in FF3.0 */
    display:block; 
}

/* creates a small circle to produce a rounded point where the two curves meet */
.rectangle-speech-border > :first-child:before {
	content:""; 
	position:absolute; 
	bottom:-40px; 
	left:45px; 
	width:10px; 
	height:10px;
	background:#2ba6cb;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border > :first-child:after {
	content:""; 
	position:absolute; 
	bottom:-24px; 
	left:72px; 
	width:28px; 
	height:25px; 
	background:#fff;
}

.message-bubble{
	width:250px; 
	margin-top:100px; 
	position:fixed;

}

.error-flash{
	color: #990000;
	text-shadow: 1px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14pt;
	vertical-align:middle;
}

.notice-flash{
	color: #008100;
	text-shadow: 1px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14pt;
	vertical-align:middle;
}

.message-flash{
	color: #2ba6cb;
	text-shadow: 1px 1px 1px #b0b0b0;
	        filter: dropshadow(color=#b0b0b0, offx=2, offy=2);
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14pt;
	vertical-align:middle;
}

dd {
	background: rgba(255,255,255, .5);
}

/*.panel{

}
*/
/*.inputbox{
	height: 25pt;
	padding: 0 0 -5pt 0;
}*/